# Application settings
APP_NAME = "Lifetracker"
APP_VERSION = "0.0.1"

# MongoDB settings
DATABASE_URI = "mongodb://username:password@hostname:27017/lifetracker?authSource=admin"

# Environment settings
# LOCAL | STAGING | TESTING | PRODUCTION
ENVIRONMENT = "LOCAL"

# CORS
CLIENT_ORIGIN = ["http://localhost:4200","http://127.0.0.1:4200"]

# Fief settings
# https://docs.fief.dev/
CLIENT_ID = "123" 
CLIENT_SECRET = "123"
FIEF_URL = "https://example.fief.dev"
AUTHORIZE_URL = "https://example.fief.dev/authorize"
TOKEN_URL = "https://example.fief.dev/api/token"
